CURRENT_TERM=1
NUM_SERVERS=3
ELECTION_TIMEOUT_OVERRIDE=300
NUM_SERVERS=3
CURRENT_TERM=2
VOTED_FOR=3
CURRENT_TERM=3
VOTED_FOR=3
CURRENT_TERM=4
VOTED_FOR=1
CURRENT_TERM=5
VOTED_FOR=3
CURRENT_TERM=6
VOTED_FOR=1
CURRENT_TERM=7
VOTED_FOR=3
CURRENT_TERM=8
VOTED_FOR=1
CURRENT_TERM=9
VOTED_FOR=3
CURRENT_TERM=10
VOTED_FOR=1
CURRENT_TERM=11
VOTED_FOR=3
CURRENT_TERM=12
VOTED_FOR=2
CURRENT_TERM=13
VOTED_FOR=3
CURRENT_TERM=14
VOTED_FOR=2
CURRENT_TERM=15
VOTED_FOR=3
CURRENT_TERM=16
VOTED_FOR=2
CURRENT_TERM=17
VOTED_FOR=3
CURRENT_TERM=18
VOTED_FOR=2
